body{
	width: auto;
	height: auto;
}

header img{
  width: 20%;
  height: 130px;
  padding-left: 10px
}

#name{
    position: relative;
    bottom: -41px;
    width: 75%;
    height: 58px;
    float: right;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    z-index: 2;
}

ul.topnav li {
  text-align: center;
  float: left;
  padding-left: 10px;
}

ul.topnav li a {
    display: inline-block;
    color: #6bd390;
    padding: 18px 20px;
    text-decoration: none;
    transition: 0.7s;
    font-family: 'Handlee', cursive;
    font-size: 20px;
}


ul.topnav li a:hover {
  background-color: #047221;
}

ul.topnav li.icon {
  display: none;
}

@media screen and (max-width:700px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:700px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

#content{
  width: 100%;
  height: 822px;
  background-color: white;
}

#image{
  position: relative;
  width: 21%;
  height: 300px;
  background-color: red;
  left: 19%;
  top:16px;
}

#image img{
  width: 100%;
  height: 300px;
}

#image2{
  position: relative;
  width: 19%;
  height: 250px;
  background-color: red;
  left: 39%;
  bottom: 284px;
}

#image2 img{
  width: 100%;
  height: 250px;
}

#image3{
  position: relative;
  width: 23%;
  height: 257px;
  background-color: red;
  left: 39%;
  bottom: 290px;
}

#image3 img{
  width: 100%;
  height: 257px;
}

#image4{
  position: relative;
  width: 20%;
  height: 257px;
  background-color: red;
  left: 19%;
  bottom: 492px;
}

#image4 img{
  width: 100%;
  height: 257px;
}

#image5{
  position: relative;
  width: 22%;
  height: 290px;
  background-color: red;
  left: 39%;
  bottom:547px
}

#image5 img{
  width: 100%;
  height: 290px;
}

#image6{
  position: relative;
  width: 20%;
  height: 236px;
  background-color: red;
  left: 19%;
  bottom:783px;
}

#image6 img{
  width: 100%;
  height: 236px;
}

#image7{
  position: relative;
  width: 23%;
  height: 244px;
  background-color: red;
  left: 57%;
  bottom: 1574px;
}

#image7 img{
  width: 100%;
  height: 244px;
}

#image8{
  position: relative;
  width: 19%;
  height: 236px;
  background-color: red;
  left: 61%;
  bottom:1575px;
}

#image8 img{
  width: 100%;
  height: 236px;
}

#image9{
  position: relative;
  width: 19%;
  height: 314px;
  background-color: red;
  left: 61%;
  bottom: 1577px;
}

#image9 img{
  width: 100%;
  height: 314px;
}

footer{
  width: 100%;
  height: 100px;
  background-color: #6bd390;
}

@media screen and (max-width:700px){
  footer{
    width: 100%;
    height: 90px;
  }
}

#copy{
  text-align: center;
  font-family: 'Handlee', cursive;
}

@media screen and (max-width:700px){
  #copy{
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 11px; 
  }
}

#copy ul li{
  padding-top: 5px;
  list-style: none;
  text-align: center;
}

.popup_block{
    font-family: "trebuchet MS";
    display:none;
    background:white;
    padding:20px;
    border:1px solid #eee; 
    float:left;
    position:fixed;
    top:50%;left:50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000; 
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000; 
    color: black;
}
 
*html #fade {position: absolute;}
*html .popup_block {position: absolute;}
#fade {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:9999;
    background:#6bd390; 
    opacity:0.5;
}

#list1{
  list-style: none;
}
